[Desktop Entry]
Type=Application
Name=tuxmods
Comment=Linux mod manager
Exec=
Icon=
Categories=Game;Utility;ConsoleOnly
Terminal=true
MimeType=x-scheme-handler/nxm;
