body {
  background-color: #2f2c33;
  display: flex;
  flex-direction: column;
  height: 100vh; /* forces the body to fill the entire viewport height */
  margin: 0;
}

h1,h2, p, li, pre {
  color: #d0cfd1; /*#b6b6b8*/
}

#main_body {
  flex: 1; /* fills the horizontal space next to the sidebar */
  padding: 10px;
  overflow-y: auto;
}

#top_bar pre {
  color: #a271f7; /* #804cd1 */
  font-size: 14px;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  padding-top: 15px;
}

#sidebar li {
  font-size: 25px;
  padding-left: 0px;
  padding-bottom: 5px;
}

#content_wrapper {
  display: flex;
  flex-direction: row;
  flex: 1; /* fills the vertical space left over by the top_bar */
  overflow: hidden;
}

#sidebar {
  width: 200px;
  border-right: 5px ridge black;
}

#sidebar button {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 15px;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  background-color: #2f2c33;
  border: #2f2c33;
  color: #d0cfd1;
  transition-duration: 0.4s;
  border-radius: 4px;
}

#sidebar button:hover{
  background-color: #634091;
}
#sidebar button:focus, #sidebar button.active{
  background-color: #3f295c;
}

#top_bar {
  border-bottom: 5px ridge black;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}
.mod-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px dashed #5a5761; /* optional, just separates the mods visually */
}

.mod-spacer {
  flex: 1; /* this is the magic part that fills the empty space */
}

.mod-name {
  font-size: 18px;
}

.mod-index {
  margin-right: 15px; /* keeps the load order from touching the button */
  color: #a271f7;
}
.toggle-btn {
  width: 6%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: #2f2c33;
  color: #d0cfd1;
  background-color: #3f295c;
}
.toggle-btn:hover {
  background-color: #634091;
}
#game_selection {
  padding-right: 40px;
}
